@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Open+Sans:wght@400;700;800&family=Roboto+Condensed:wght@300&display=swap');

body{
    background-color: rgb(68, 75, 72);
    font-family: 'Gabarito', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    height: 120px;
    background-color: rgb(19, 21, 21);
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.profile-picture{
    box-sizing: border-box;
    height: 120px;
    border-radius: 60px;
    color: blue;
    border: 8px solid rgb(40, 45, 40);
}

.banner-main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-width: 620px;
}

#header-font{
    font-size: 60px;
    color: rgb(228, 137, 44);
    margin: 0px;
    text-decoration: none;
    background: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.clickable-nav{
    text-decoration: none;
    outline: none;
    font-size: 30px;
    background-color: rgb(40, 45, 40);
    border-radius: 30px;
    color: rgb(224, 217, 210);
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    margin: 5px 0;
}

.clickable-nav:visited{
    text-decoration: none;
    outline: none;
    font-size: 26px;
    background-color: rgb(40, 45, 40);
    border-radius: 30px;
    color: rgb(224, 217, 210);
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    margin: 5px 0;
}

.navigation p:hover{
    cursor: pointer;
}

p{
    font-size: 26px;
    word-wrap: break-word;
    margin: 30px auto;
    padding: 20px;
    border-radius: 30px;
    max-width: 1200px;
    color: rgb(224, 217, 210);
    background-color: rgb(40, 45, 40);

}

a{
    font-size: 26px;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    max-width: 1200px;
    color: rgb(228, 137, 44);
    background-color: rgb(40, 45, 40);
}

.social-section{
    margin-left: auto;
    padding: 3px 40px;
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 45, 40);
    border-radius: 30px;
    min-width: 440px;
}

.social-links{
    display: flex;
    justify-content: space-between;
}

.link-logo{
    margin: 10px 0px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: yellow;
    text-indent: -9999px;
}

.link-logo:hover{
    cursor: pointer;
}

#linked-in-logo{
    background: url(Assets/linked-in-logo.png) no-repeat 0 0;
    background-size: 100%;
    color: rgb(224, 217, 210);
}

#artstation-logo{
    background: url(Assets/artstation-logo.png) no-repeat 0 0;
    background-size: 100%;
}

#github-logo{
    background: url(Assets/github-logo.png) no-repeat 0 0;
    background-size: 100%;
}

#itch-io-logo{
    background: url(Assets/itch-io-logo.png) no-repeat 0 0;
    background-size: 100%;
}

.social-section p{
    font-size: 30px;
    color: rgb(224, 217, 210);
    margin: 0;
    padding: 0;
}

#email-ref{
    font-size: 30px;
    color: rgb(228, 137, 44);
    margin: 0;
    padding: 0;
}